/*CSS Typeface*/

.letter {
	width: 200px; /*resize as you see fit */
	height: 250px; /*resize as you see fit */
	display: inline-block; /* this makes block level elements act like letters (so they sit next to eachother) */
	border: 1px solid black; /*feel free to remove or hide this rule */
	position: relative; /* IMPORTANT: any element with position:absolute inside this container will now be relative to bounds of this element; */
}

.grid {
	display: grid;
	grid-template-columns: repeat(20, 10px);
	grid-template-rows: repeat(20, 10px);
}

